<div class="container">
    <div class="row">
        <div class="col-md-6">
          <h4>Customer Details</h4>
          <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
              <input type="hidden" formControlName= "$key">
                <div class="form-group">
                  <label>Full Name</label>
                  <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid': submited &&  formControls.fullName.errors}" >
                  <div class="invalid-feedback" *ngIf="submited && formControls.fullName.errors">
                    This field is required
                  </div>
                </div>
                <div class="form-group">
                    <label>Email ID</label>
                    <input formControlName="email" class="form-control" [ngClass]="{'is-invalid': submited &&  formControls.email.errors}" aria-describedby="emailHelp">
                  </div>
                  <div class="" *ngIf="submited && formControls.email.errors">
                    This field is required
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mobile No.</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Message:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="col-md-6">
            </div>


    </div>
</div>